

.header_title h1 {
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  text-stroke: 2px #ffffff;
  text-align: center;
}

.Icon_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 7px #17e551;
  border: 1px solid #17e58d;
  width: 180px;
  height: 130px;
  padding: 25px 30px;
  border-radius: 15px;
}

.flipCard {
  width: 160px;
  height: 120px;
  perspective: 1000px;
  cursor: pointer;
}

.flipCardInner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipped .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipCardFront {
  background-color: transparent;
  color: #ffffff;
}

.flipCardBack {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: medium;
  color: #20252b;
  background-image: linear-gradient(to right, #17e551, #17e58d);
  transform: rotateY(180deg);
  border-radius: 15px;
  text-align: center;
}


@media only screen and (max-width: 425px) {
.flipCard {
  width: 140px;
  height: 120px;
}
}
