@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

/* Customize the scrollbar track color */
::-webkit-scrollbar-track {
  background: #114b68; /* Change this to your preferred color */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #e8f7fb;
}

/* 
* main = #114b68
* second = #e8f7fb
* accent = #d6e7eb
 */