.header_title h1 {
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  text-stroke: 2px #ffffff;
  text-align: center;
}

.buttonColor {
  background-image: linear-gradient(to right, #17e551, #17e58d);
  color: #18181b;
}

.buttonColor:hover {
  background: #18181b;
  color: #ffffff;
}
/* -----------Tabs-------------------- */


.projectContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}

.projectContainer .imageWrapper {
  position: relative;
}

.projectContainer .imageWrapper:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the darkness level here */
  z-index: 1;
}

.projectContainer .iconWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
}

.projectContainer .imageWrapper:hover .iconWrapper {
  display: flex;
  gap: 20px;
}
