/* SocialLink.module.css */
.slideCard {
  width: 100px;
  overflow: hidden;
  transition: width 0.3s ease-in-out, font-weight 0.3s ease-in-out;
  text-align: center;
}

.slideCard:hover {
  width: 160px;
  font-weight: 500;
}

.cardContent {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.icon {
  margin: 1px;
  color: #5799FC;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0px 1px 4px #5799FC;
  transition: box-shadow 0.3s ease-in-out;
}

.title {
  color: #5799FC;
  visibility: hidden;
  padding: 1px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: visibility 0.3s ease-in-out;
}

.slideCard:hover .title {
  visibility: visible;
  box-shadow: 0px 1px 4px #5799FC;
}
